<% layout('layouts/boilerplate') %>
    <h1>
        <%= tournament.name %>
    </h1>
    <h2>
        <%= tournament.description %>
    </h2>
    <h3>
        <%= tournament.prize %>
    </h3>
    <p>
    <form action="/tournaments/<%= tournament._id %>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
    </p>
    <p><a href="/tournaments/<%= tournament._id %>/edit">Edit</a></p>
    <a href="/tournaments">All Tournaments</a>